/* custom-antd-styles.css */
p {
  line-height: 1.6;
}
h1 {
  line-height: 0.8;
}

/* ANTD CUSTOMIZATION HERE */
/* Target the dropdown content */

/* Ant Design Dropdown styles */
.ant-dropdown-menu {
  max-height: 180px;
  min-height: 100px;
  min-width: 220px;
}

/* Ant Design Dropdown item styles */
.ant-dropdown-menu-item {
  font-size: medium !important;
}

/* Ant Design Dropdown item hover styles */
.ant-dropdown-menu-item:hover {
  color: #5167f6 !important;
  background-color: #fff !important;
}

/* Customize the color of the wave in a Spinner with the wave class */

.ant-spin-dot.ant-spin-dot-spin .ant-spin-dot-item {
  background-color: #4834d4;
}

.ant-spin-dot .ant-spin-dot-wave {
  background-color: #4834d4;
}

/* Your CSS file or inline styles */
@media (min-width: 768px) {
  .ant-card .ant-card {
    width: auto;
    height: 400;
    padding-left: 30;
  }
}
/* THE CHECKBOX DESIGN */
.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner {
  border-color: #f1eefb;
  /* background-color: #4834d4; */
  background-color: #f1eefb;
}

.custom-checkbox .ant-checkbox:hover .ant-checkbox-inner {
  background-color: #4834d4;
  border-color: #f1eefb;
}

.custom-checkbox .ant-checkbox-inner {
  background-color: #f1eefb;
  border-color: #f1eefb;
}

.custom-checkbox .ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #4834d4; /* Change color for the checked checkmark */
}

/* USSD section card styles */
.custom-card {
  background-color: #f4f4f4;
  color: #56555584;
  transition: background-color 0.3s;
}

.custom-card:hover {
  background-color: #4834d4;
  color: #fff;
}

/* Contact section card styles */
.custom-cards {
  background-color: #f4f4f4;
  color: #000;
  transition: background-color 0.3s;
}

.custom-cards:hover {
  background-color: #e5effd;
}
@media (min-width: 768px) {
  .custom-cards {
    width: 100%;
    padding: 4px;
  }
}

/* Career section card styles */
.custom-career-cards {
  background-color: #f4f4f4;
  color: #000;
  transition: background-color 0.3s;
}

.custom-career-cards:hover {
  background-color: #4834d4;
  color: #fff;
}

/* Gallery Imgaes */
.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
  gap: 30px;
}
@media (max-width: 768px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns for smaller screens */
  }
}

@media (max-width: 480px) {
  .image-container {
    grid-template-columns: 1fr;
    width: 416px;
    height: 916px;
  }
}
/* Image responsiveness */
@media (max-width: 768px) {
  .responsive-image {
    width: 416px;
    height: 916px;
  }
}

@media (max-width: 480px) {
  .responsive-image {
    width: 300px;
    height: 416px;
  }
}
